/*CÓDIGOS DE COLOR
ROJO: #f32735
NEGRO: #1d1d1b
BLANCO: #fafafa*/

/*VINCULAMOS HOJAS DE SCSS SEPARADAS - MIXIN Y EXTEND*/ 
@import '../scss/_partials/extend';
@import '../scss/_partials/mixin';


/*ESTILOS GENERALES DE PÁGINA*/
/*Vinculamos fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,800;0,900;1,600&display=swap');

/*VINCULAMOS HOJAS DE SCSS SEPARADAS - ESTILOS Y ELEMENTOS*/
/*ELEMENTOS*/
@import '../scss/_partials/elementos';
@import '../scss/_partials/estructura';
@import '../scss/_partials/destacados';
@import '../scss/_partials/videos';

/*PÁGINAS*/
@import '../scss/_partials/cabecera';
@import '../scss/_partials/menu';
@import '../scss/_partials/home';
@import '../scss/_partials/reglamento';
@import '../scss/_partials/manifiesto';
@import '../scss/_partials/contacto';
@import '../scss/_partials/pie';




/*VINCULAMOS HOJAS DE SCSS SEPARADAS - RESPONSIVE*/ 
@import "../scss/_partials/responsive";
