%tarjetaBase {
    display: flex;
    margin: 10px;
    align-items: center;
    
    .numManifiesto {
        font-weight: 900;
        color: #f32735;
        font-size: 5rem;
    }

    p {
        margin: 20px;
    }
}

%fotoBase {
    display: flex;

    img {
        width: 250px;
        margin: auto;
    }
}