.menu {
    height: 100%;
    background-color: #f32735;
    font-size: 2rem;
    font-weight: 800;

    ul {
        inline-size: 330px;
        writing-mode: horizontal-tb; 
        margin: 15px;
        position: fixed;

        :hover {
            color: #fafafa;
        }

    .active {
        color: #fafafa;
    }

    }
}

.menuResponsive {
    background-color: #f32735;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    font-size: 2rem;
    font-weight: 800;

    .accordion-header {
        font-size: 1.5rem;
        color: #f32735;
    }
}